.body {
    margin: 0;
    background-color: rosybrown;
  }
  
  /* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  #name
  {
      text-align:center;
      color : goldenrod;
      font-size: larger;

  }

  #desc
  {
      text-align:center;
      color : goldenrod;
      
  }
  #price
  {
      text-align:center;
      color : goldenrod;
      
  }
  .main a{
      text-align: center;
      width: 320px;
      padding: 250px;
      color : orangered;
      text-decoration: none;
  }
  .main a:hover{
      box-shadow: pink;
      
  }
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }