<html>
    <head>
        <title>Delete</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"   href = "{{url_for('static',filename ='css/style.css')}}">
    </head>
<body>
<div class="header">
    <h1>Delete this item {{ item.name }} from {{ restaurant.name}}</h1>
</div>

<div class ="topnav">
    <a href = "{{ url_for('showRestaurants')}}"> Home Page </a>
    <a href = "{{ url_for('restaurantMenu', rest_id = restaurant.id)}}">See menu for this restaurant</a>
    <a href = "{{ url_for('newMenuItem', restaurant_id = restaurant.id)}}">Add new Item</a>
</div>
<br>
<br>
<div class="main" style ="text-align: center;">
<form method = 'POST' action = "{{ url_for('deleteMenuItem', restaurant_id = restaurant.id , menu_id = item.id)}}">

    <input type ="submit" value = " Yes ">

</form>

<br>
<div style ="text-align: center;">
    <button onclick="{{ url_for('restaurantMenu', rest_id = restaurant.id)}}">No</button>
</div>

</div>
</body>
</html>